[2016-11-22 09:57] admizh opened #51 "Minor UI table fixes."
![table minor changes](https://cloud.githubusercontent.com/assets/6014483/20519041/c78e57a4-b0ba-11e6-8ed6-d304b95ecd91.png)
1 - alignment to center (relative other text columns)
2 - move to up, to decrease table header field size
3 - add a horizontal separator for better readability
4 - table is not resizable when zoom up

[2016-11-22 10:31] admizh opened #52 ""All Runs" button not work."
![2016-11-22_14-20-32](https://cloud.githubusercontent.com/assets/6014483/20520219/69a451f2-b0bf-11e6-9e74-28862fde6f25.png)
1. Set entries count on page
2. Click to expand "All Runs"

Please describe - how it should work?

[2016-11-22 10:49] admizh opened #53 "Better visual areas determination for filters and tables."
Pls add better determination two visual areas - because it displayed mingled together - and very difficult to understand on first look
![2016-11-22_14-35-03](https://cloud.githubusercontent.com/assets/6014483/20520929/43d52106-b0c2-11e6-92bc-a45503769634.png)
I mark regions in different colors. User must immediately understand where the table and where table filtering

[2016-11-22 11:34] admizh opened #54 "Hiding actions buttons by default (when testRun not selected)"
After fixing [Multiselect for test launches](https://rpp.uservoice.com/forums/247117-report-portal/suggestions/16087000-multiselect-for-test-launches), need create default behaviors for action buttons

![2016-11-22_15-16-16](https://cloud.githubusercontent.com/assets/6014483/20522293/f50c35a8-b0c8-11e6-80eb-af3354fb7bc3.png)

[2016-11-22 17:16] DzmitryHumianiuk commented on #52
it works as expected.
Basically it returns you to Home screen of you project space or filter-tab, if selected.

`All runs` doesn't mean that it will return you all available launches in project. Just imaging if you have project with 10'000+ launches.
So it limited with paging size.
Button should be considered as `Home` or `root`, but we didn't find the proper naming for it.

Please suggest, if you

[2016-11-22 22:29] admizh opened #55 "Element for setup entries count per page"
I. Blinking effect:
When click to control -> page size has changed (see bottom footer) - because input box is presented. Clicking should not affect to page size
![blink effect](https://cloud.githubusercontent.com/assets/6014483/20540495/d67c9fac-b112-11e6-932c-07c7d258de5e.gif)

II. Usability:
![2016-11-22_23-45-57](https://cloud.githubusercontent.com/assets/6014483/20542660/019f4b54-b11c-11e6-96a

[2016-11-23 07:22] Iren-Melnyk commented on #51
Hi there!
Thank you for your involvement and contribution to the Report Portal UI. We are aware that some issues need to be improved in the Report Portal. You will see the latest UI improvements in our upcoming  release.

[2016-11-23 07:26] Iren-Melnyk commented on #53
Agree, it's a good point. We've already divided this two areas. This improvement will be in next release.

[2016-11-23 07:28] Iren-Melnyk commented on #54
Many thanks for your comment. You will see a button with Multiple Actions in our next release.

[2016-11-23 08:41] admizh opened #57 "Widgets button on "Launches" tab"
The button is present on two screens. I don't understand why.
For dahsboard screean - i totally agree, but for "launches" tab, it overload UI interface.
If this button needed on launches tab - then it should provide create widgets by current filter
![2016-11-23_11-39-54](https://cloud.githubusercontent.com/assets/6014483/20555202/219d9074-b17a-11e6-813b-a6dc656fe264.png)

anybody?

[2016-11-23 11:53] #52 closed

[2016-11-24 00:08] DzmitryHumianiuk commented on #51
will be covered with complete re-desing in version 3.0
I'd like to share some screens already, but also don't want to spoiler it )

[2016-11-24 00:08] #51 closed

[2016-11-24 00:09] DzmitryHumianiuk commented on #53
covered by re-design in 3.0

[2016-11-24 00:09] #53 closed

[2016-11-24 00:09] DzmitryHumianiuk commented on #54
covered with re-design on 3.0

[2016-11-24 00:09] #54 closed

[2016-11-24 00:15] DzmitryHumianiuk commented on #55
@lexecon please verify it in re-design branch

[2016-11-24 00:23] DzmitryHumianiuk commented on #52
@admizh button `+` (or ⌧) here for the breadcrumbs.
by clicking `+` you will see full names in breadcrumbs.
by default it shown with limited length.

[2016-11-24 00:25] DzmitryHumianiuk commented on #57
@admizh formally this button does exactly the same you've mentioned.
By clicking `Add widget` from launches view you will be able to create widget, based on current filter.

if it's not working - then it's a bug.

with re-desing in 3.0 usability will be update for filters.

[2016-11-24 00:25] #57 closed

[2016-11-29 09:33] lexecon commented on #55
This will be fixed in the new version

[2016-12-22 19:20] shaburov opened #79 "Not saved text encoding."
Original log
![image](https://cloud.githubusercontent.com/assets/15269131/21437293/189af24c-c894-11e6-8960-b777ec7e0b29.png)

ReportPortal log
![image](https://cloud.githubusercontent.com/assets/15269131/21437338/5c6b8356-c894-11e6-9225-8847417e358b.png)

[2016-12-22 19:28] shaburov opened #80 "Text formatting is not retained."
Original log
![image](https://cloud.githubusercontent.com/assets/15269131/21437468/105d8648-c895-11e6-9bd0-c6562fa258f7.png)

ReportPortal log
![image](https://cloud.githubusercontent.com/assets/15269131/21437485/2519434c-c895-11e6-8718-2efbe9de64dd.png)

[2016-12-22 20:06] shaburov opened #81 "The default count of the results includes a test classes."
![image](https://cloud.githubusercontent.com/assets/15269131/21438375/967557b6-c899-11e6-873c-bfe5c44d2655.png)

![image](https://cloud.githubusercontent.com/assets/15269131/21438208/e90caad4-c898-11e6-8e8f-840b8488ec79.png)

**Select Method Type -> Test Class**
![image](https://cloud.githubusercontent.com/assets/15269131/21438267/24dfd3ba-c899-11e6-9707-43b1361df8a1.png)

TestNG XmlTest.class is

[2016-12-22 22:41] DzmitryHumianiuk commented on #81
@avarabyeu

[2016-12-22 22:42] DzmitryHumianiuk commented on #80
@shaburov that one is currently in progress

[2016-12-22 22:44] DzmitryHumianiuk commented on #79
@lexecon

[2017-01-11 10:19] e-olga commented on #79
Added to RP backlog

[2017-01-18 16:14] aklexel commented on #80
Great! I hope it will be soon fixed.

[2017-01-18 16:22] aklexel commented on #79
I have the same problem, wait for fix too.

[2017-02-03 07:03] avarabyeu commented on #79
@shaburov Oleg, could you please specify which rest resource do you call? Please, do not remove part of url after your server name :)

[2017-02-12 06:27] avarabyeu commented on #79
@shaburov @aklexel Guys, could you please create some demo project to be able to reproduce issue? I believe you are sending request to report portal in UTF-8 while part of your data (like another request inside logs) is encoded with another encoding.

[2017-02-22 14:29] fasterfish opened #103 "Defect loading limitation"
When loading a bug from BTS, address of the server must contain a point.
We use next BTS address: http://tfs:8080/tfs.

![screenshot_2_480](https://cloud.githubusercontent.com/assets/18389889/23215627/e39ad4aa-f934-11e6-8ade-c9b2888310ce.png)

Can you remove this restriction?

Thanks.

[2017-02-23 10:45] DzmitryHumianiuk commented on #103
@lexecon

[2017-03-05 15:15] shaburov commented on #79
[Repository with test](https://github.com/shaburov/reportportal_s-ui_issue-79_test/tree/master)

[2017-03-07 10:15] avarabyeu commented on #79
Here is what i have on my local instance:
![Image](http://image.prntscr.com/image/19375a7fb9d445d8a9368d548ebf7f63.png)
It is displayed equally as reported.

Closing issue as fixed in RP 3.0

[2017-03-07 10:15] #79 closed

[2017-03-16 08:24] lexecon commented on #103
Fixed in version 3.0

[2017-03-16 08:24] #103 closed

[2017-03-16 08:28] lexecon commented on #80
Fixed in version 3.0

[2017-03-16 08:29] #80 closed

[2017-03-16 08:29] lexecon commented on #55
Fixed in version 3.0

[2017-03-16 08:29] #55 closed

[2017-03-16 08:33] DzmitryHumianiuk commented on #81
@avarabyeu ?

[2017-03-27 12:37] serhiisavruk opened #132 "Launch name for widget have unexpected rule"
I can't add launch name for "Most failure test-cases table" widget, because launch name length should be more equal three. This rule is not used on launch creation, so I have launches with name like "IR".
My launches:
<img width="457" alt="screen shot 2017-03-27 at 3 34 25 pm" src="https://cloud.githubusercontent.com/assets/1574658/24356583/4c70ee00-1303-11e7-8f91-3a0f91e41ac6.png">
Try to add lau

[2017-04-03 16:00] #132 closed

[2017-04-28 09:17] avarabyeu commented on #81
After the next release, different statistics calculation strategies are supposed to be introduced. For now it's not an issue and expected behaviour

[2017-04-28 09:17] #81 closed

[2017-06-22 16:19] glukin opened #252 "Inconsistent behavior of dropdown lists."
Different kinds of "Default Properties for Issue Form" dropdowns (the regular ones and the ones with a search box) on BTS settings page demonstrate inconsistent behavior: the regular ones submit `valueName` as a default value for a field even if `valueId` is defined, and the ones with a search box submits `valueId` no matter if it is defined or not.

This inconsistency is the cause of the issues r

[2017-06-28 11:09] glukin commented on #252
Closing the issue as the pull request #253 has been accepted as hot-fix in 3.0.4.

[2017-06-28 11:09] #252 closed

[2017-07-26 11:20] andikfil opened #282 "History view broken"
1. Button is hidden to load more items
2. Loading state after click on button

Issue is reproduced in build: 3.0.5

![history_view_broken](https://user-images.githubusercontent.com/22031074/28618566-808724a2-720d-11e7-9bf2-71f05d86ee49.png)

[2017-08-04 13:41] DzmitryHumianiuk commented on #282
@andikfil could you please specify steps?

can't get the flow which you described above.

[2017-08-14 13:56] idRomanUdka opened #326 "Layout issue"
1. Open tab 'Launches'
2. Press down on mouse wheel on first record and move cursor to area with grey background (right side)
[normal_view](https://drive.google.com/file/d/0BzonnHNMLwEtTmRWUVB2RFcweTQ/view?usp=sharing)
[actual_view](https://drive.google.com/file/d/0BzonnHNMLwEtWUV2SjZYNl9nU2s/view?usp=sharing)

Additional information:
window.screen.availHeight - **864**
window.screen.availWidth -

[2017-08-21 14:34] andikfil commented on #282
1. Open any launch that contains at least 50 tests/items in view
2. Click History button and try to load all tests

[2017-08-22 16:32] DzmitryHumianiuk commented on #282
https://rp.epam.com/ui/#default_project/launches/all|page.page=172&page.size=50&page.sort=start_time%2CDESC/531f9852e4b02fba21edfc45|page.page=1&page.size=50&page.sort=start_time%2CASC/531f98a5e4b02fba21ee0489|page.page=1&page.size=50&page.sort=start_time%2CASC/531f98a9e4b02fba21ee0519?page.page=1&page.size=50&page.sort=start_time%2CASC

[2017-09-27 08:12] #282 closed

[2017-09-29 13:56] lexecon commented on #326
fixed in 3.3 version UI service

[2017-09-29 13:56] #326 closed

[2017-11-06 10:38] pratik-gajjar-13988 opened #473 "Could not find any widget for custom defect types related statistics"
Also it would be nice feature to make all standard defect type labels configurable.
 In my case, I need to show all defects with below defect terminologies in launches section.
Example:
A, B, C instead of Product Bugs, System Issues etc...

[2017-11-06 11:01] mehulkagathara commented on #473
I also need this feature in my project. I am exploring report portal for accessibility test reporting where I need to show issues with accessibility related defect types and widget around them.

[2017-11-07 19:58] DzmitryHumianiuk commented on #473
@pratik-gajjar-13988 u need to rename default `Product Bug`, `Automation Bug` and `System issue`?
or just add additional types? like this?

![screen shot 2017-11-07 at 22 57 10](https://user-images.githubusercontent.com/11332788/32514784-1cb45072-c40f-11e7-829f-c3875f8b4971.png)

[2017-11-07 19:59] DzmitryHumianiuk commented on #473
@mehulkagathara same for you? just add ability to rename default defect types?

[2017-11-08 07:54] pratik-gajjar-13988 commented on #473
Thanks @DzmitryHumianiuk for quick response.

I could create such sub types from the project configuration based on my requirement. What feature i was looking for was to have all such sub defect types in widgets as well because the statistics on such sub types is much more needed and to be displayed in my customized widgets and dashboard for charts and further analysis based on them.

![image](htt

[2017-11-08 09:32] DzmitryHumianiuk commented on #473
@pratik-gajjar-13988 it will shown it by default. as a part of pie chart

![image](https://user-images.githubusercontent.com/11332788/32541405-a84e8708-c480-11e7-935e-114f33983dd6.png)

![image](https://user-images.githubusercontent.com/11332788/32541477-dd2f2d6a-c480-11e7-957f-0f054671a6b3.png)

[2017-11-08 09:34] DzmitryHumianiuk commented on #473
@pratik-gajjar-13988 or you use small view?
![image](https://user-images.githubusercontent.com/11332788/32541605-2f645fb0-c481-11e7-870a-e735556e6559.png)

[2017-11-08 10:28] pratik-gajjar-13988 commented on #473
Yes it shows by default.

The rest of standard types are of no use in my case for now so i thought to display all sub types individually the way standard types are displayed. After all research i came across the custom widgets where i can control which column and what data to be displayed. but sub types as column selector in widget would have helped me a lot.

So as an idea i raised this one.

[2017-11-13 08:02] mehulkagathara commented on #473
Yes, I want ability to rename default defect types.

[2017-11-13 13:02] DzmitryHumianiuk commented on #473
@mehulkagathara ok. got it.
will be estimated

[2017-11-27 12:58] sbakharev opened #533 "Links recognition in log messages with markdown mode"
Links recognition in log messages behaves incorrectly on some circumstances when using markdown mode.

**Steps to reproduce:**
1. Create a log message within a test item with this text:
!!!MARKDOWN_MODE!!! \`CODE\` 'https://anywebsite.com'
1. View the parent test item using UI.

**Expected result:** UI dislpays the log message in markdown mode with [CODE] block rendered as code and anywebsite link

[2017-12-07 13:02] Invictum opened #553 "Test entity with STEP type is displayed as TEST"
Hi,
I am using following core stuff to interact with RP
[code]
Client code snippet
[code]

Created item is marked as TEST in report
![screen shot 2017-12-07 at 15 58 54](https://user-images.githubusercontent.com/4653335/33716588-d187fd90-db67-11e7-8cf9-fe2f90bd7369.png)

Note:
Issue is not reproduced for launch imports. I. e. test item status is displayed correctly.

[2017-12-22 10:13] sbakharev opened #582 "Filter launches normally in "Most failure test-cases" widget"
Hello!

We use several testing environments and have different build/deploy/test configurations for them since some heavy features cannot be tested on ones but can be tested on others.

So the same test projects are configured to filter tests in different ways on different environments. And since the team is well aware of where which of the tests are actually configured to run, we want to see most

[2017-12-22 10:31] sbakharev opened #583 "Obsolete animation of widgets"
Hello!

Several widgets suffer from the same flaw of blinking/repainting once in several seconds even if no changes actually occured (no new launches have recently been finished). A couple of examples are "launch statistics line chart" and "launches duration chart".

Though this bug is minor, it's pretty nasty. An open dashboard keeps diverting your attention for no reason. Meanwhile when it *shou

[2018-01-09 09:31] sbakharev commented on #533
![screenshot-2018-01-09-12-28-30-612](https://user-images.githubusercontent.com/31010533/34713958-e3796abc-f538-11e7-9481-76bfc7e7065d.png)
upd: double quotes are processed incorrectly as well

[2018-01-12 15:58] sbakharev opened #613 "No way to filter items by tags they do not contain"
Hi guys!

Imagine our situation: 1500+ of automated web service tests.

After some launch we find out that 300 tests have failed. So we open up the list of failed tests and see that almost all of the tests on the first page have a specific tag "TAG_1" attached which denotes some part of the product functionality that the tests involve.

But we are professionals, so we must make sure that all of th

[2018-01-15 07:27] lexecon commented on #553
most likely it's a client problem, @avarabyeu  check please

[2018-01-15 07:36] lexecon commented on #583
this will be fixed with the release of version 4.0

[2018-01-15 07:36] #583 closed

[2018-01-15 15:24] sbakharev opened #615 "Add function to get short links to launch/suite/test results"
Hi again :)

Using UI 3.3.2 the URL of almost any specific page is _very long_ and barely usable for quick messaging (e.g. Skype) or emailing (https://myreportportal.url/ui/#uis/launches/all|page.page=1&page.size=50&page.sort=start_time%2CDESC/5a5ca813b3cb1f0001fd63bb?page.page=1&page.size=50&page.sort=start_time%2CASC - this is not ok and even confusing people sometimes).

That could be great to

[2018-01-22 07:37] lexecon commented on #615
Hello.
It's a good idea, we'll think about its implementation. Thank you.

[2018-03-14 14:43] DzmitryHumianiuk commented on #582
@sbakharev very valid request.

will be considered for 5.0+

[2018-03-14 15:03] DzmitryHumianiuk commented on #613
will be implemented

[2018-05-11 10:44] #613 closed

[2018-05-11 10:53] evjlobanova commented on #553
@Invictum is this issue reproduced on the latest version?

[2018-05-22 17:27] evjlobanova commented on #553
@Invictum ok, we will check

[2018-05-23 14:44] evjlobanova commented on #553
@Invictum could you please send screenshot with imported launch?

[2018-05-24 11:17] Invictum commented on #553
@evjlobanova

Sure. Here is what I have in the imported report
![screenshot 2018-05-24 14 14 42](https://user-images.githubusercontent.com/4653335/40482333-25fefddc-5f5d-11e8-8058-58bcf879da6c.png)

[2018-05-24 11:49] evjlobanova commented on #553
@Invictum do you mean import or export?

[2018-05-24 12:51] Invictum commented on #553
@evjlobanova
Sorry for mistake, I mean export

[2018-06-21 06:42] AnastasiiaKravets opened #826 "Please fix failed build"
Last build was failed which caused to absence of UI part with error '404 page not found'

[2018-06-21 08:22] evjlobanova commented on #826
@AnastasiiaKravets could you please give more details? Is it local instance or epam?

[2018-06-21 10:59] AnastasiiaKravets commented on #826
@evjlobanova
It is local instance, launched with your manual
<img width="585" alt="screen shot 2018-06-21 at 1 50 25 pm" src="https://user-images.githubusercontent.com/22433504/41714844-45dba6ba-755a-11e8-84bb-d7ac6ecc0de8.png">

and after successful docker launch user have such response
<img width="1021" alt="screen shot 2018-06-21 at 1 53 09 pm" src="https://user-images.githubusercontent.com/224

[2018-06-21 11:54] e-olga commented on #826
hi @AnastasiiaKravets

[2018-06-21 12:01] AnastasiiaKravets commented on #826
@e-olga of course

<img width="1749" alt="screen shot 2018-06-21 at 3 00 06 pm" src="https://user-images.githubusercontent.com/22433504/41717901-eaf0ce7e-7563-11e8-8615-c4018bede081.png">

[2018-06-21 12:32] e-olga commented on #826
provide please data from consul by http://localhost:8500/ui/#/dc1/services

[2018-06-21 12:41] AnastasiiaKravets commented on #826
Unfortunately there is no data for ui service
<img width="1223" alt="screen shot 2018-06-21 at 3 37 51 pm" src="https://user-images.githubusercontent.com/22433504/41719642-4ee68540-7569-11e8-9e2f-dc1cc054b5d5.png">

[2018-06-21 13:15] pbortnik commented on #826
probably there are some issues with docker cache or smth.
try to remove all containers, clear cache by command 'docker-compose system prune' and make docker-compose up again.
it should help. your data is saved.

[2018-06-21 14:18] AnastasiiaKravets commented on #826
This was really problem with cache, but this was some PC cache, not dockers. Problem was solved with start containers from another folder.
Thank you!

[2018-06-21 14:18] #826 closed

[2018-10-12 07:07] AprilPark1012 opened #993 "The "START TIME" in Launches table haven't been i18n but use RU instead"
Hello,

Thanks for you localization and I try to get a Chinese version for i18n. However, i found that the "START TIME" haven't been written in localizations folder(en-EU.js or ru-RU.js), and it use Russian instead. Coud you please add the keyword into localization file so that we can have it translated.

![image](https://user-images.githubusercontent.com/24444902/46853366-67cc6280-ce30-11e8-98fa-

[2018-10-17 16:39] DzmitryHumianiuk commented on #993
😲 @AprilPark1012 will you send us PR with Chinese file version?

[2018-10-17 16:42] DzmitryHumianiuk commented on #993
@AprilPark1012 we use Moment.js for this part
they have separate config for it: https://momentjs.com/docs/#/i18n/

UI-guys will take a look, most probably we have to address global change of LOCALE globally.
or just add Chinese version of file into static code part.

[2018-10-25 15:11] AprilPark1012 commented on #993
Already add a PR for it, please have a check.

[2018-10-30 22:17] DzmitryHumianiuk commented on #993
@AprilPark1012 is it in `service-ui`?
Can’t find it

cc @DiscoElevator

[2019-01-06 23:08] ScriptedAlchemy opened #1118 "Feedback on redux-first-router?"
Hey! I saw you in our network dependents.  We could sure use some help on pros, cons, and why you chose it! This will help others pitch it to their teams as well. Please add your suggestions here, I'll put the doc on GitHub as a readme later.

https://docs.google.com/document/d/10ZP8Gem9iwv-3o2ZalEd6FBd3G_lgerMcn1clJw0wBE/mobilebasic

[2019-04-05 19:15] nnilakh opened #1338 "Is it possible to customize test results page to include additional attribute from test parameters"
Currently test result page has the following attributes:
Method Type
Name
Status
Start
Defect Type

I wanted to add one more attribute relevant to each tests - 'Number of assertions'.  This value is available for each test in 'Test Parameters'. Is there a way to customize the reportportal ui to include a new attribute in test results.

**OR**

Can I change the name and value of any of existing att

[2019-04-10 16:13] DzmitryHumianiuk commented on #1338
@nnilakh
you can append this data into description of test case.

but this is kind of custom implementation of agent. Example here:
https://github.com/reportportal/example-java-TestNG/blob/master/logback/src/main/java/com/epam/rp/tests/extension/ParameterizedTest.java#L76

![image](https://user-images.githubusercontent.com/11332788/55895255-766bba80-5bc4-11e9-8bee-54774635d2d9.png)

![image](https

[2019-04-10 18:35] nnilakh commented on #1338
@DzmitryHumianiuk Thanks that worked.

Is it possible to update the Launch description in similar way. I wanted to update the description for the launch - 'rp.description' dynamically, to display total number of assertions in the launch. Can I do that by overriding any method.?

[2019-04-11 11:15] DzmitryHumianiuk commented on #1338
@nnilakh
https://github.com/reportportal/agent-java-testNG#code-example-how-to-overload-params-in-run-time

[2019-04-12 08:51] pavel-gatilov-epam opened #1365 "Cannot enter password longer than 25 characters"
The Password field on the log in screen is limited to 25 characters. This makes sign in impossible in case I have a password that is longer than 25 chars. In my case, the account is linked to a Windows domain and the password set in the domain was 32 chars. I had to change the password for the domain account.

Would you mind removing or at least significantly increasing the password length limit o

[2019-07-08 11:07] rplevka opened #1748 "Opening testcase after filtering it with "filter.cnt.name=/foo" returns error"
The item can't be opened. All I get is a message:

Item is not found
Failed to load data for launches table

after removing the the problematic filter portion of the URL (`&filter.cnt.name=%2Ffoo`), it works.

steps to reproduce:
have test cases with `/` in name (e.g. `fooTestClass/foo/test_1`)
now try to filter only those with `/foo` in the name:
Filter name cnt: "/foo"

Click on any of the filte

[2019-07-17 10:06] newbie-qa opened #1784 "Device Statistic widget used in testing"
First, thank you for this very helpful tool. I find it very useful when I run my automation test. As I basically started to use the tool, the available widgets are very good however I am missing one type of widget.

Is there a possibility to have a device/browser information displayed on my dashboard ? Like a widget?  That would be very cool to have.

Many thanks!

[2019-07-18 21:37] rplevka opened #1796 "Test-case related widget don't support test-related filters"
I find it weird that the widgets don't support it.

E.g. I'd like to create a failure trend chart which would only show number of failed tests matching certain criteria, e.g.

(to get the trending chart of UI failures):
Failed test case trend where:  `launch-name == "foo" and testcase-name ~ "ui/"`

.. so far i can only apply launch metadata filter. I don't see any valid argument for such limitati

[2019-07-18 21:48] rplevka commented on #1796
digging int othis some more I see one is aonly able to define filters for launches, but not for test cases.

[2019-09-09 11:13] paulopontesm opened #1993 "disable`https://..../ui/info`"
I would like to have my server to stop disclosing the version in `https://..../ui/info`.

This also applies to other services like `https://..../api/info` or  `https://..../uat/info`. Should I open an issue in these specific projects?

[2019-09-10 18:08] sridharangopal opened #1997 "username and password in clear text in form data POST to uat/sso/oauth/token"
when trying to login into the UI, I see the username and password in clear text in the form data being posted to uat/sso/oauth/token. I thought this was fixed somewhere in the previous version. Is this expected behavior? Please see screenshot. Any guidance on how to avoid exposing creds in clear text is much appreciated.

I believe this is the line of code that is contributing to this behavior:
ht

[2019-09-16 11:54] loadtheaccumulator commented on #1997
Please also see, https://github.com/reportportal/service-authorization/issues/86.

[2019-09-16 13:27] DzmitryHumianiuk commented on #1997
@sridharangopal  which version of `service-ui`you use?

[2019-09-16 13:27] DzmitryHumianiuk commented on #1997
fixed in v5
https://github.com/reportportal/reportportal/issues/626

[2019-09-16 14:50] DzmitryHumianiuk commented on #1997
@sridharangopal @loadtheaccumulator
try
`service-api` 4.3.11
`service-ui` 4.3.7

[2019-10-06 05:51] dubilyer opened #2089 "[Widget] Responsive design issue"
As you can see on attached screenshot, there's an overlap between axis X labels.
You can easily reproduce it by creating a 7+ bars Launch statistic chart widget and reducing a window.

RP version - 4.3.0
Browsers - Chrome 77, Edge 44

![image](https://user-images.githubusercontent.com/16655093/66264852-34d76780-e815-11e9-9072-00923b1b0395.png)

[2019-10-22 06:45] dubilyer commented on #2089
Guys, can somebody take a look, please?

[2019-11-06 15:31] idonca opened #2182 "Cannot access login page: 307 redirection error"
Hello,

we installed v5 reportportal helm chart, we have everything up and running in our cluster.
The problem is when we want to access the login page: IP/ui, is redirecting continuously and we receive network error.

More details below:
![issue1](https://user-images.githubusercontent.com/56868732/68311897-eb4f9600-00ba-11ea-8328-2da23866d1f7.PNG)
![issue2](https://user-images.githubusercontent.c

[2019-11-08 07:55] AlehB commented on #2182
Hello,

[2019-11-08 08:03] AlehB commented on #2182
Hello Ionut,

RP5 K8s Helm chart installation assumes the use of Nginx Ingress controller, which creates a Load Balancer in the Cloud. All Ingress rules are written for this controller. Thus, to get an access to RP ui you do not need to go through IP:port/ui, but LB address itself

Best Regards,
Aleh

[2019-11-08 08:08] idonca commented on #2182
Hello Aleh,

We did also like that, but still redirecting.
We accessed also only the LB address and we have the same issue (redirecting error).

Thank you,
-Ionut

[2019-11-08 08:16] AlehB commented on #2182
Do you use default nginx configuration?

Could you please check the logs of API / UAT containers?

Thank you,
Aleh

[2019-11-08 08:27] idonca commented on #2182
Yes, we used the default nginx configuration and also we tried to access the UI via a nodeport, the behavior was exactly on both tries.
Attached are logs from uat and api containers.

Thank you,
-Ionut

[logs-from-uat.txt](https://github.com/reportportal/service-ui/files/3823593/logs-from-uat.txt)
[logs-from-api.txt](https://github.com/reportportal/service-ui/files/3823594/logs-from-api.txt)

[2019-11-08 08:42] AlehB commented on #2182
I see no errors in your log files.
Anyway there should be the services versions displayed on the main page.
 @pbortnik , @avarabyeu , do you happen to know what can be a reason of the empty services field?

[2019-11-11 07:56] idonca commented on #2182
Hello,
Any updates?

Thanks

[2019-11-11 08:58] AlehB commented on #2182
Hello Ionut,

We assume you have an issue with some service. Could you please check the Index log as well?

Thank you,
Aleh

[2019-11-11 09:34] idonca commented on #2182
Hello Aleh,

Attached is also index log file.
[logs-from-index-in-index-745cbdf98b-jb9lt.txt](https://github.com/reportportal/service-ui/files/3830639/logs-from-index-in-index-745cbdf98b-jb9lt.txt)

Thanks,
-Ionut

[2019-11-11 13:50] avarabyeu commented on #2182
all the requests that are supposed to reach UI component are actually routed to index component.
Could you please share your ingress configuration and UI service logs.

[2019-11-11 14:10] idonca commented on #2182
Hello @avarabyeu,

Attach you can find the ingress config and also the logs from the UI service.

Thanks,
-Ionut
[logs-from-ui-in-ui-5f599d55cd-rhmvp.txt](https://github.com/reportportal/service-ui/files/3831660/logs-from-ui-in-ui-5f599d55cd-rhmvp.txt)

[ingress.txt](https://github.com/reportportal/service-ui/files/3831662/ingress.txt)

[2019-11-15 08:34] idonca commented on #2182
Hello,

I updated the files from your latest commits, but no luck. Still receiving redirecting errors.
Any updates from your side?

Thank you,
-Ionut

[2019-11-15 08:42] AlehB commented on #2182
Hello Ionut,

I'm wondering why you are having "123" in your Ingress configuration. Please try 'kubectl describe ing reportportal-gateway-ingress' and make sure you have smth similar to the configuration attached

[Ingress example.txt](https://github.com/reportportal/service-ui/files/3850550/Ingress.example.txt)

Thank you,
Aleh

[2019-11-15 09:02] idonca commented on #2182
Hello Aleh,

That was only for testing purpose. Was a version for testing.
Now we have the default config version for our ingress, exactly the one attached.

[ingress-config.txt](https://github.com/reportportal/service-ui/files/3850622/ingress-config.txt)

Thank you,
-Ionut

[2019-11-18 13:35] idonca commented on #2182
Hello,

Any news?

Thank you,
-Ionut

[2019-11-19 11:04] AlehB commented on #2182
Hello Ionut

You Ingress configuration looks good, except one thing. On our both installations (AWS and GCP) we have not LB name in the "Address" field, but a public IP.

Your issue can be caused by some misconfiguration of your LB / Nginx Ingress Controller.
By the way, what version of Nginx Ingress Controller you use?

Thank you
Aleh

[2019-11-25 12:05] idonca commented on #2182
Hello guys,

So we installed the following chart, that is attached.
And the following version of requirements:
$ cat requirements.yaml
dependencies:
  - name: postgresql
    version: 3.9.1
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: postgresql.installdep.enable

  - name: rabbitmq-ha
    version: 1.18.0
    repository: https://kubernetes-charts.storage.googleap

[2019-11-25 12:17] AlehB commented on #2182
Hello Ionut,

We tested both options. At first with charts locally, and then with a cloud service (AWS RDS)

Thank you
Aleh

[2019-11-25 13:02] idonca commented on #2182
hello Aleh,

and I guess, both options were succeeded, no?
Could you please take a look at our chart, I mean at the values.yml especially?

Thank you,
-Ionut

[2019-11-25 15:25] AlehB commented on #2182
Hello Ionut,

Yes, and we still have one of these installations in use

Of course, please send it to me

Thank you
Aleh

[2019-11-26 07:23] idonca commented on #2182
Hello Aleh,

Attached, you can find out the values.yml file.

[values.txt](https://github.com/reportportal/service-ui/files/3890528/values.txt)
Thank you,
-Ionut

[2019-11-26 13:38] AlehB commented on #2182
Hello Ionut,

Firstly I would recommend you to double-check your endpoints for the ReportPortal dependencies.

By default it should look like:
<postgresql_chart_name>-postgresql.default.svc.cluster.local
<rabbitmq_chart_name>-rabbitmq-ha.default.svc.cluster.local
http://<minio-release-name>.default.svc.cluster.local:9000

As far as I see you have:
rabbitmq-reportportal-rabbitmq-ha.reportportal
pos

[2019-11-26 14:42] CNXautomation commented on #2182
Hello Aleh,

I put in the values the name of the services that are running in that kubernetes namespace.
If I change in deployment.yaml services and add the ending default.svc.cluster.local , (eg. postgresql.default.svc.cluster.local) it returns errors that the host cannot be found.

I changed now also minio to run to minio-reportportal.reportportal:9000 and it's fine.
So now, all the services are

[2019-11-26 14:44] idonca commented on #2182
I was logged in with another user in github. :)

[2019-11-26 15:58] idonca commented on #2182
So, we made again a fresh install and we are receiving the same redirect error.
I do not know why is not finding url/ui, it saying that is not finding the ui service...

Thank you,
-Ionut

[2019-11-27 09:37] AlehB commented on #2182
Hello Ionut,

Most likely it is some misconfiguration of your lb / Nginx Ingress Controller then.
Please make sure your version supports all annotations in their current regular expressions

I would also recommend you to try to make a fresh install with no any changes (namespaces and so on). Just following the guide

Thank you
Aleh

[2019-11-27 12:58] idonca commented on #2182
Hello Aleh,

We are using 0.21.0 version of ingress-nginx. It said that the annotation `nginx.ingress.kubernetes.io/rewrite-target`
has been changed for the above versions of ingress-nginx. I also change the ingresses and commented out that annotation, but still no luck.

With which ingress-nginx version you deployed locally the reportportal chart?

Thank you,
-Ionut

[2019-11-27 14:41] AlehB commented on #2182
Hello Ionut,

Exactly. This is what I mentioned a week ago.
Starting in 0.22.0, Ingress definitions using the annotation nginx.ingress.kubernetes.io/rewrite-target are not backwards compatible with previous versions. We use captured groups for this annotation, and this is very important for RP Ingress to work properly.
0.21.0 is quite outdated

We have 0.25.0

Thank you,
Aleh

[2019-12-03 13:07] ivan-sukhomlyn opened #2243 "[v5.0.0-RC-3] UI doesn't open/show video and log attachments"
Some attachments with a content type like **log** or **video** don't show correctly in the UI.
I assume that some `Content-Type` HTTP headers are not being processed correctly by UI
`Content-Type: text/x-log`
`Content-Type: video/mp4`
but
`Content-Type: image/png` - works as expected

For example,
1. Video file
![Screenshot 2019-12-03 at 2 49 26 PM](https://user-images.githubusercontent.com/553903

[2019-12-06 15:41] sandeepnagra commented on #2243
I am experiencing same issue with v5.0.0-RC-3. When I click on the thumbnail it downloads the .mov file.

![image](https://user-images.githubusercontent.com/9598669/70335250-f4946580-1814-11ea-9f15-c8252ece661d.png)

[2019-12-06 17:28] chhatbarjignesh opened #2256 "All the embeddings regardless of type is showing up as a screenshot in console"
All the embeddings regardless of type is showing up as a screenshot in console. This is true for V4 as well as V5 RC. screenshot below is from V5

Even if i embed text/html text in console showing as Screenshot. there should be some option for user to pass what they want to name their embeddings

![image](https://user-images.githubusercontent.com/34551874/70342869-e6017a80-1823-11ea-80b6-638e2a670

[2019-12-10 12:59] evjlobanova commented on #2256
@chhatbarjignesh Could you please tell us which agent and runner you use?

This text is defined within sending method and can be easily replaced to any other text.

[2019-12-10 14:23] idonca commented on #2182
Hello Aleh,

Unfortunately, also after upgrading the ingress-nginx to 0.25.0 version we still have the same redirect problem. We did a fresh install and still the same problem.
Also the code is up-to-date.

Thank you,
-Ionut

[2019-12-10 14:53] chhatbarjignesh commented on #2256
I am using agent-ruby, please let me know where to pass the text and I will test that out

[2019-12-11 14:53] groov1kk opened #2263 "Opening report portal login screen may stuck"
Opening report portal's login screen may stuck and takes a lot of time. To reproduce this bug you need to clear browser's cache.

Steps to reproduce:
1. Clear browser's cache (for example, in chrome: history -> clear history -> remove images and other files from cache)
2. open https://dev.reportportal.io/ui/#login

Expected result:
Login page should be open immediately

Actual result:
Browser stuc

[2019-12-12 07:50] AlehB commented on #2182
Hello Ionut,

The latest code updates aren't supposed to to fix your issue. It smth with your Nginx or LoadBalancer but it hard to say what it can be, based on your logs with no errors. The basic RP configuration works fine on AWS and GCP, and it was tested.
Have you changed anything during your fresh installation, or you just followed the guide?

Thank you,
Aleh

[2019-12-14 17:14] DzmitryHumianiuk commented on #2263
UI uses https://semver.org/ approach to define new available builds.

Above applicated deployed with version name, started with letters, against the rest of services which start with numbers.

that's covered now from app side,
but also follow Version Semantic for custom deployments

[2019-12-14 17:14] #2263 closed

[2019-12-17 13:13] evjlobanova commented on #2256
@abotalov Andrei, could you please look at this issue, may be you can help?

[2020-01-02 19:21] sspieker-cc opened #2289 "Cannot set environment variables for consul/registry host and port"
I am deploying within a Kubernetes cluster and we are currently stuck with version 1.14+ on the server side.  I know that there is an alpha fix in kubernetes 1.18 to allow for environment variables to be set within the borne shell that utilize periods / dots in their name.  Right now, there does not seem to be a work around with our situation and I am having difficulty working out what file could

[2020-01-14 13:18] evjlobanova commented on #2289
@AlehB could you please help @sspieker-cc .
@sspieker-cc as a possible decision we can propose you to update a current version of your Reportportal to the latest one (stable RC 6 of version 5)

[2020-01-14 13:27] AlehB commented on #2289
Hi @sspieker-cc ,

[2020-01-14 13:37] AlehB commented on #2289
Hi @sspieker-cc ,
First of all, we would recommend you to start with our ReportPortal 5 Helm chart installation for Kubernetes. https://github.com/reportportal/kubernetes/tree/master/reportportal/v5
There no cosul anymore, and there no need to change env. variables for UI service
Best wishes,
Aleh

[2020-01-16 13:29] evjlobanova commented on #2182
@idonca if you still have a prpblem, please drop us a letter to
![image](https://user-images.githubusercontent.com/30413511/72528972-58cb3000-387d-11ea-8833-f6eacfdcccbe.png).
We can propose you a paid suppport.

[2020-01-16 13:29] #2182 closed

[2020-02-10 07:03] dharma-keyutech commented on #2182
Hi idonca, are you able to resolve the issue...?

[2020-02-29 20:08] egilsdq opened #2325 "Launch duration chart label "seconds""
**Describe the bug**
When using Launch duration chart, label at bottom of chart is "seconds" but actual is "minutes".

**Expected behavior**
Show "minutes" if axis values is in minutes.

**Screenshots**
![image](https://user-images.githubusercontent.com/15646224/75576929-8fde5500-5a69-11ea-95ed-0a6f2d826496.png)

**Versions:**
 - Windows 10, Microsoft Edge (Version 80.0.361.62)
 - Version of RP 5.

[2020-02-29 20:09] HardNorth commented on #2325
@DiscoElevator, could you please take a look? We actually might fixed this already.

[2020-03-04 13:47] DiscoElevator commented on #2325
Not, it's not fixed. "Seconds" is a hardcoded value.

[2020-03-26 04:13] Vaibhavshukla08 commented on #2325
same issue I am facing also.
Please look into this.

[2020-03-27 09:06] olegz-codefresh commented on #2182
I have the same issue with running in docker.

[2020-03-27 09:09] AlehB commented on #2182
Hi @olegz-codefresh ,

Please make sure that you followed the documentation exactly, and there no any errors in RP services

[2020-03-30 08:40] svettsova commented on #533
issue is not reproducible in 5.1
![image](https://user-images.githubusercontent.com/50825875/77892242-1e760a00-7294-11ea-8088-707a122071e3.png)
Also, to past video-link, you can put it like [![Watch the video](https://<s3-bucket-url>/sample-thumbnail.jpg)](https://[link_to_video])

[2020-03-30 08:40] #533 closed

[2020-03-31 17:08] evjlobanova commented on #2243
The duplicate of #2352 ttps://github.com/reportportal/reportportal/issues/117

[2020-03-31 17:09] #2243 closed

[2020-03-31 17:32] #993 closed

[2020-03-31 17:33] #1338 closed

[2020-03-31 17:37] evjlobanova commented on #1365
Fixed in version 5.0

[2020-03-31 17:37] #1365 closed

[2020-03-31 17:39] evjlobanova commented on #1748
@svettsova Valya, please try to reproduce it for ver 5.1?

[2020-03-31 17:41] evjlobanova commented on #1784
@newbie-qa You can add attributes 'browser: Name' 'device: Name' for test cases executions and configure a widget 'Component health check widget' https://reportportal.io/docs/Component-health-check

[2020-03-31 17:41] #1784 closed

[2020-03-31 17:45] evjlobanova commented on #1796
As a possible solution, you can try Component Health Check widget.

This widget shows the passing rate of the application components which are indicated by the specified attributes.

Use case:

Situation: As a Project Manager or Test Lead, a I want to see the most unstable place in my product ( application).

Solution: All test cases in my project in ReportPortal have an attributes. For example fu

[2020-03-31 17:46] evjlobanova commented on #1796
We think about something like this:

![image](https://user-images.githubusercontent.com/30413511/78029327-0fad5700-7369-11ea-8327-a5d513e0402f.png)

You create a set of widgets and apply different filters and parameters on the fly.

[2020-03-31 17:47] evjlobanova commented on #1796
I have linked your request with the similar ones, and closed as a duplicate

[2020-03-31 17:47] #1796 closed

[2020-03-31 17:51] #1997 closed

[2020-03-31 17:53] evjlobanova commented on #2089
Duplicate of https://github.com/reportportal/reportportal/issues/753

[2020-03-31 17:53] #2089 closed

[2020-03-31 17:53] #2289 closed

[2020-04-01 07:25] svettsova commented on #1748
issue is not reproducible in 5.0 and 5.1 versions
@rplevka could you please recheck the issue?

[2020-04-01 07:25] #1748 closed

[2020-04-02 08:25] alex-i-rybkin opened #2354 "[RP5] Improvement. Add 'Download artefact' button"
During test run, we usually post to RP different logs, test-recordings, screenshots, etc. When analyzing test results I usually need to download these results for further detailed analysis and reposting them to Jira or share with somebody directly.

In RP4 it was possible to download any artifact by right-clicking on its icon in logs and pressing the 'Save link as' button.

In RP5 I could not find

[2020-05-20 13:40] skinner969 opened #2389 "[Firefox] Close Icon is very big after selecting a Launch"
**Steps:**

1. Open RP in Firefox(Reproduced for 76.0.1)
2. Go to any project
3. Check/Select one launch

**Actual:**
Close icon is filling the whole screen
![изображение](https://user-images.githubusercontent.com/9725495/82452629-314cd400-9ab8-11ea-9e23-2a37390eeaf5.png)
**Expected:**
Close icon is small

**Current version:API Service: 5.2.1;Index Service: 5.0.7;Authorization Service: 5.2.1;Servi

[2020-05-20 19:27] DiscoElevator commented on #2389
Hello, @skinner969
Thank you for reporting this issue.
The fix will be released with the version 5.3, but I don't know the timeline.
Feel free to reopen this issue if you have any additional questions regarding it.

[2020-05-20 19:27] #2389 closed

[2020-09-08 13:24] aradyaron opened #2452 "50 dashboards limitation when adding widget"
When having more then 50 dashboards the following fails:
1. Adding new Dashboard - no problem
2. Adding a new widget to dashboard - fails as it show you the list of the 50 dashboards to choose where to add widget to.

Please note that this fails only when the dashboard is created afterwards and after deleting some of the dashboards to be less than 50, all is good

seems like that when onAddWidget

[2020-09-09 16:25] aradyaron opened #2453 "Refreshin page on dashboard not on first 50 - no widgets found"
seems like when refreshing dashboard, the query to the server is on the first 50 dashboards.
I suggest changing it to query for specific dashboard/iterate on all of them

[2020-10-15 09:22] alex-harmaza opened #2479 "The last state of 'Collapse/expand precondition methods' switcher is not saved"
**Description:** The switcher's last state (switcher is on the left of the column with name 'Method type') isn't saved from the previous session when we open report portal (RP). again. For the RP version 4 it works correctly, user setting for the switcher is saved and there is no need to switch it every time.
**RP Build:** 5.3.1
**Browsers:** Firefox 81.0.1, Chrome 86.0.4240.75

[2020-10-19 08:59] evjlobanova commented on #2479
this is known issue, it is in our backlog

[2020-11-20 15:33] xadvfh opened #2523 "Syntax highlighting inside of markdown"
The marked library supports syntax highlighting inside of markdown.  Can we add this feature? https://marked.js.org/using_advanced#highlight

[2021-01-29 01:27] willyhalim opened #2566 "create dashboard from debug report"
Is there any way to create dashboard based on "Debug" report . At the moment it seems only works against "Launch" report

[2021-01-29 17:25] DzmitryHumianiuk commented on #2566
@willyhalim there is no.
all widgets/dashboards has pre-defined filter to ignore launches from `debug` mode.
we assume `debug` as a sand-box, which should not affect general scope of executions.

you can transfer your launch from debug to general tab with one click via the menu button.

in case if you don't want to see this launch in the list of all launches you can create a filter based on specif

[2021-01-29 17:25] #2566 closed

[2021-04-24 05:05] Bhaskarmiryala opened #2676 "Service_UI Build Status in Failed state"
Hi Team,

This is repo is in Failed state.
Please fix the code or issue.

[2021-06-01 17:33] AmsterGet commented on #2676
Already fixed.

[2021-06-01 17:33] #2676 closed

[2021-07-23 08:40] esalomatov opened #2774 "LDAP user search filter field length"
Hi, i try set up ReportPortal with ldaps and cannot write user search filter rule more than 128 symbols. Is it possible to extend this field ?

[2021-08-09 15:55] jigneshmm opened #2793 "Firefox - Auto Analysis Icons are larger then normal - v5.5.0"
Steps to Reproduce:
1. Login to ReportPortal
2. Navigate to Failed Test Case that is Auto Analyzed
3. Verify UI on Test Step Screen and Test Log screen
See below screenshots
Test Step Screen
![image](https://user-images.githubusercontent.com/63611247/128736121-9c2f5883-35b2-47a2-add9-f53254f35883.png)

Test Log Screen:
![image](https://user-images.githubusercontent.com/63611247/128736195-306f1372-

[2021-08-10 09:50] VolhaKarenko commented on #2793
@jigneshmm could you please specify Firefox version you are using? The issue is not reproducible on Firefox 90.0.2

[2021-08-10 12:18] jigneshmm commented on #2793
90.0.2
![image](https://user-images.githubusercontent.com/63611247/128865413-b89989ea-3ce3-46bc-a9b5-772daa2e08d5.png)

[2021-08-10 13:50] VolhaKarenko commented on #2793
Reproducible on local instance, bug is added to backlog

[2021-09-03 09:30] AmsterGet commented on #2793
Fixed in 5.5.1.

[2021-09-03 09:30] #2793 closed

[2021-09-13 17:15] MagyarMate opened #2813 "SVG in log markdown is not visible entirely"
https://github.com/reportportal/service-ui/blob/2b19b13f9835f205a48d9a1ebfe5acae7c51c227/app/src/components/main/markdown/markdownViewer/markdownViewer.jsx#L80

I believe this part purifies the href=“# parts in svg use tags, can you please investigate the possibilities to make exceptions in dompurify for hrefs in svgs?

[2021-11-26 07:53] Aman-singh-wq commented on #2182
Hi Team

Please let me know if anyone able to fix ERR_TOO_MANY_REDIRECTS  error in report-portal.

[2021-12-21 08:47] varundunga opened #2953 "make get-build-deps is failing"
Hi Team,

Im trying to build service ui using dockerfile-full and getting the below error. the get-build-deps task in makefile is failing. Below is the error:

` > [build-backend 4/7] RUN make get-build-deps:
#13 0.250 curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "/go/bin" v1.36.0
#13 0.383 golangci/golangci-lint info checking GitHub for tag '

[2021-12-21 09:16] AmsterGet commented on #2953
Hello @varundunga!
Now we are in progress of removing go lang from this service and it will be replaced by nginx within next release.
But if you are trying to build the image from the `master` branch you can use [this](https://github.com/reportportal/service-ui/commit/551f4af860094ae09c3adb9cff19fe5f623cebb6) temporary fix.
On the other hand, you can always use the latest published image from dock

[2021-12-22 04:12] #2953 closed

[2021-12-22 04:13] varundunga commented on #2953
Thanks....Its working now

[2022-02-09 10:23] aanchal-narang opened #3015 "Notification getting generated with no test case run"
We are facing an issue with report portal notification after latest deployment.
It is giving notification for the job with no test cases.

It used to work fine with previous build. Please check this issue.
My expectation is if there is no test case run with the report, it should not give a blank notification with null attributes.

[2022-03-08 16:04] davebrochu-es opened #3032 "Surface Defect Comment in UI from Launch view"
After a launch completes, it would be helpful if there were a view at the launch level to show all the defect comments associated with failures encountered from a given launch. This would enable users to quickly determine from the launch which known issues were found during a run. Currently, the only way to gather such information is to create a filter for a test suite that includes "defect commen

[2022-04-08 15:52] colmaengus opened #3058 "subpath support"
Hi,

I would like to run reportportal on a subpath (e.g. /reportportal). I'm using kubernetes and have other applications that need to co-exist so I can't use the root path.
I can configure the ingress rules but it seems that the UI is expecting to be hosted at /
Any guidance as to how I would go about configuring the service-ui to work at a subpath?

Regards

Colm A

[2022-04-12 17:06] colmaengus commented on #3058
Hi @AmsterGet, for sure each service is hosted at its own subpath but it you want to run reportportal alongside another application in the same kubernetes cluster you run into problems.
If you configure the ingress to route /reportportal/ui to the ui service its almost works but the UI expects to be at / with some of the routes hardcoded as such. For example /composite/info which should be /report

[2022-06-10 18:12] mdfarhanin opened #3132 "Component Health Check - Needs to wrap text"
Since there is no option to text wrap - It is difficult to see reports
Have ability to expand table cell
<img width="276" alt="Screen Shot 2022-06-10 at 1 12 45 PM" src="https://user-images.githubusercontent.com/15947334/173126175-6b635eda-5ca4-4d1b-bede-d69364fc27db.png">

[2022-06-10 18:17] mdfarhanin opened #3133 "Component Health Check - All Launches"
Need ability to show the latest reports from all launches

Eg)
Screenshot:
<img width="666" alt="Screen Shot 2022-06-10 at 1 15 21 PM" src="https://user-images.githubusercontent.com/15947334/173126552-f9ec6250-b70e-4838-89c7-ee0caf2fd766.png">

Note:
1. All Launches are required to show all the components in a system - Components is one of the levels - I definitely need all launches to show all th

[2022-06-14 14:09] DzmitryHumianiuk commented on #3132
@mdfarhanin hey, do you mean `move the text to the next line if not fitted` under `wrap`?

[2022-06-14 14:21] mdfarhanin commented on #3132
@DzmitryHumianiuk - Yes

[2022-06-14 14:30] AmsterGet commented on #3132
Hello @mdfarhanin !
We will discuss this option with the UX team.
Stay tuned.

[2022-06-21 06:13] kisscelia opened #3146 "[question]: not support for chinese in i18n?"
I saw this PR: https://github.com/reportportal/service-ui/pull/1011

why i can't set it?

[2022-07-21 16:03] AmsterGet commented on #3146
Hi @kisscelia !
Answered you in your [PR](https://github.com/reportportal/service-ui/pull/3177).

[2022-07-21 16:12] AmsterGet commented on #3132
Hello @mdfarhanin !
We have discussed your suggestion with the UX team and have decided to implement the 'immediate tooltip' for these elements as a quick fix in version 5.8.
Wrapping this text won't look nice in the current implementation, as it will be hard to read for small widgets.
In future versions, we plan to introduce updated widgets, so your suggestions will be taken into account when imp

[2022-07-25 01:17] kisscelia commented on #3146
working on it.

[2022-07-25 01:17] #3146 closed

[2022-07-25 20:00] #3132 closed

[2022-09-05 16:04] mkralik3 opened #3252 "The test method history panel shows items which have same name but belongs to the different testsuite"
**Describe the bug**
The history panel in the UI for a particular test shows also the results of all other tests from the same launch even though they are under different test classes. This happens only when I use jUnit5 client. When I upload junit xml manually via UI (as zip file with JUnit files), it works as expected (for a particular test method, it shows items in the history panel only which

[2022-10-03 07:46] alizaidi96 commented on #2263
I'm actually fed up with this now. At our organisation nurture.farm, we thought we will use Reportportal for our build reports but the issues are just endless. Setup was okay but never works on restart.
Have tried all the approaches mentioned. Maxed out memory requirements to 10GB+.
Nothing works. Please fix your product if you don't want business impacts!

[2022-10-03 21:04] DzmitryHumianiuk commented on #2263
@alizaidi96 First off, thank you for interest in ReportPortal.
ReportPortal is a free and open sourced solution, distributed under Apache 2.0 license, which means AS IS.

If you would like to receive our dedicated help and assistance, please drop as email at support@reportportal.io
so we can arrange the call and discuss the offering details.

I am very saddened by the fact that you, unlike thousan

[2022-10-04 17:13] iammattcoleman opened #3289 "The page title should change as you navigate the site"
When using Report Portal in multiple tabs, it's impossible to determine which tab is which:

![image](https://user-images.githubusercontent.com/6289033/193882768-59d2f7c5-6ec6-4bfa-a16a-c65190caa940.png)

This would be much more usable if those tabs were titled...

- Report Portal: All Launches
- Report Portal: nightly-tests #&#8203;123
- Report Portal: Test A
- Report Portal: Test B

[2022-10-06 19:29] DzmitryHumianiuk commented on #2263
@alizaidi96 k8s setup is a right way to go.
we definitely will compiled versions for the ARM (apple silicon included) in a while,
but currently team focuses on other priorities.

please follow https://github.com/reportportal/reportportal/issues/1815 for related request.

[2022-10-31 13:53] AmsterGet commented on #3058
Looks like it is the same issue, as described [here](https://github.com/reportportal/kubernetes/issues/116).
I'll close this one. Please track the progress via the link mentioned above.

[2022-11-04 08:51] tr1ble commented on #2774
Hello! Thanks for reporting.
Could you clarify what length is needed?

[2022-11-10 09:34] tr1ble commented on #2452
Hello! Thanks for reporting. Now I could not reproduce the bug so I guess it works fine now. Could you recheck if it works now?

[2022-11-10 09:42] tr1ble commented on #2453
Hello again! Thanks for reporting. As this page was redesigned, it should work fine now and I couldn't reproduce this issue. Can you recheck ?

[2022-11-14 11:30] Bam6ycha commented on #2813
Dear, @MagyarMate, I hope you're doing well.  Is this issue is still relevant?
If yes, can you provide information about what kind of hrefs do you want to use in SVG?

[2022-11-15 08:41] tr1ble commented on #3252
Hello, @mkralik3 , I hope you are doing well! As I've checked, current issue doesn't reproduce for different UI agenets, so I think it's bug on java agent side so it should be check by or Back end now.